<!--Used after application is submitted, return :  Gender,  Academic Status (Freshman, Sophomore, Junior, Senior),
    Cumulative GPA, Number of credit hours taken during latest (current) semester, and latest semester GPA as a table of some sort-->
{% extends "base.html" %}
   <!-- <h1>Hello {{new_applicant|capitalize}}</h1>-->
{% block content %}
   <h2 align = "center">J.M.C Smart Scholarship</h2>
   <h3 align = "center">Dash</h3>



{% endblock %}
   <!-- Michaels page to display info from applicants data store-->
