{% extends "base.html" %}
{% block title %}Home{% endblock %}
<!--Description: Landing Page
    Author: Michelle Sroka-->
{% block content %}
<header style="margin:20px 0;">
<h1 align="center">Welcome to the J.M.C Smart Scholarship Website</h1> </header>
     <h3 align="center">Students: Click Create-Application to get started</h3>     
     <h4 align="center">Committee Members: Click Committee-Login to get started</h4>
<p align ="center">Created by Michelle Sroka, Michael Faustino, and Ali Banihashemi</p>
{% endblock %}