<!--Used after application is submitted, return :  Gender,  Academic Status (Freshman, Sophomore, Junior, Senior),
    Cumulative GPA, Number of credit hours taken during latest (current) semester, and latest semester GPA as a table of some sort-->
{% extends "base.html" %}
{% block content %}
<h2 align = "center">J.M.C Smart Scholarship</h2>
<h3 align = "center">Student Record</h3>
<h3 align = "center">Welcome! {{userFname}}</h3>

<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Gender</th>
          <th scope="col">Academic status</th>
          <th scope="col">Cumulative GPA</th>
          <th scope="col">Credit Hours</th>
          <th scope="col">Semester GPA</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th scope="row">{{applicantID}}</th>
            <td>{{applicantG}}</td>
            <td>{{applicantAS}}</td>
            <td>{{applicantCGPA}}</td>
            <td>{{applicantCHrs}}</td>
            <td>{{applicantSGPA}}</td>
            <td>{{applicantDate}}</td>
          </tr>
      </tbody>
    </table>
</div>

{% endblock %}
